aiohttp==3.8.1
aiosignal==1.2.0
annotated-types==0.7.0
anyio==4.9.0
async-timeout==4.0.1
attrs==21.2.0
base58==2.1.1
beautifulsoup4==4.13.4
bitarray==1.2.2
blinker==1.9.0
blis==0.7.11
brotlipy==0.7.0
catalogue==2.0.10
certifi==2021.10.8
cffi==1.17.1
chardet==3.0.4
charset-normalizer==2.0.7
click==8.2.1
cloudpathlib==0.21.1
confection==0.1.5
conllu==6.0.0
cryptocode==0.1
cryptography==44.0.3
cymem==2.0.11
cytoolz==0.11.2
distro==1.9.0
en_core_sci_sm @ https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.4/en_core_sci_sm-0.5.4.tar.gz#sha256=a54a114ee11dab7cf6db8cf69ef485145011537f45f3c16c71338c48fd6f070b
eth-abi==2.1.1
eth-account==0.5.6
eth-hash==0.3.2
eth-keyfile==0.5.1
eth-keys==0.3.3
eth-rlp==0.2.1
eth-typing==2.2.2
eth-utils==1.10.0
exceptiongroup==1.3.0
faiss-cpu==1.11.0
Flask==3.1.1
flask-cors==6.0.1
frozenlist==1.2.0
h11==0.16.0
hexbytes==0.2.2
httpcore==1.0.9
httpx==0.28.1
idna==3.3
ipfshttpclient==0.8.0a2
itsdangerous==2.2.0
Jinja2==3.1.6
jiter==0.10.0
joblib==1.5.1
jsonschema==3.2.0
langcodes==3.5.0
language_data==1.3.0
lru-dict==1.1.7
marisa-trie==1.2.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
multiaddr==0.0.9
multidict==5.2.0
murmurhash==1.0.13
netaddr==0.8.0
nmslib==2.1.1
numpy==1.26.4
openai==1.88.0
packaging==25.0
parsimonious==0.8.1
preshed==3.0.10
protobuf==3.19.1
psutil==7.0.0
pwinput==1.0.2
pybind11==2.6.1
pycparser==2.22
pycryptodome==3.11.0
pycryptodomex==3.13.0
pydantic==2.11.7
pydantic_core==2.33.2
Pygments==2.19.1
pyOpenSSL==24.3.0
pyrsistent==0.18.0
pysbd==0.3.4
PySocks==1.7.1
python-dotenv==1.1.0
regex==2024.11.6
requests==2.26.0
rich==14.0.0
rlp==2.0.1
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.12
scikit-learn==1.7.0
scipy==1.15.3
scispacy==0.5.5
shellingham==1.5.4
six==1.16.0
smart-open==7.1.0
sniffio==1.3.1
soupsieve==2.7
spacy==3.7.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.5.1
thinc==8.2.5
threadpoolctl==3.6.0
tiktoken==0.9.0
toolz==0.11.2
tqdm==4.67.1
typer==0.16.0
typing-inspection==0.4.1
typing_extensions==4.14.0
urllib3==1.26.7
varint==1.0.2
wasabi==1.1.3
weasel==0.4.1
web3==5.24.0
websockets==9.1
Werkzeug==3.1.3
wrapt==1.17.2
yarl==1.7.2
